/**
 * @file
 * Stylesheet for inmail.
 */
.inmail-message--header header {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.inmail-message--header-from,
.inmail-message--header-to,
.inmail-message--header-subject,
.inmail-message--header-received-date {
    margin: 10px;
}

.inmail-message--header-label {
    font-weight: 700;
}

.inmail-message--header-all-body{
    font-family: monospace;
    white-space: pre;
}

.inmail--view-mode-teaser .inmail-message--body-plain {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
