{#
/**
 * @file
 * Default theme implementation for Inmail Message Address element.
 *
 * Available variable:
 * - address: The address string.
 *
 * @ingroup themeable
 */
#}

<span class="inmail-message__address">
    {{ address }}
</span>
