{#
/**
 * @file
 * Default theme implementation for Inmail Message Address element.
 *
 * Available variable:
 * - address: The address string.
 *
 * @ingroup themeable
 */
#}

{% if address.name %}
    <span class="inmail-message__address" title="{{ address.address }}">
        {{ address.name }}
    </span>
{% else %}
    <span class="inmail-message__address">
        {{ address.address }}
    </span>
{% endif %}
