{#
/**
 * @file
 * Default theme implementation for Inmail Message Address element.
 *
 * Available variable:
 * - address: The address string.
 *
 * @ingroup themeable
 */
#}

{% if address.getName %}
    <span class="inmail-message__address" title="{{ address.getDecodedAddress }}">
        {{ address.getName }}
    </span>
{% else %}
    <span class="inmail-message__address">
        {{ address.getDecodedAddress }}
    </span>
{% endif %}
